body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: "Mulish", Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    font-size: 22px; 
    line-height: 1.6;
}

h1 {
    color: #f2f2f2;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-size: 45px;
    text-align: center;
}

h3 {
    color: #f2f2f2;
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

a {
    color: crimson; /* K覺rm覺z覺ms覺 vurgu rengi */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

.return-link {
    font-size: 1.15em;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    font-size: 0.9em;
}

th, td {
    border: 1px solid #444;
    padding: 15px; 
    text-align: left;
}

th {
    background-color: #2a2a2a;
    color: #efefef;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #222;
}

tr:hover {
    background-color: #333;
}

td:last-child {
    font-weight: bold;
    color: #efefef;
}

footer {
    color: #f0f0f0;
    background-color: #131313;
    max-width: 1000px;
    height: 150px;
    text-align: center;
    padding: 20px;
    margin-top: 40px;

}

footer a {
    color: #f0f0f0;
}

.icons {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content: center;
}

footer p {
    font-size: 20px;
    font-weight: 300;
}

.icons pre {
    font-size: 18px;
    margin: 0;
}

.icons i {
    font-size: 21px;
}
