body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: "Mulish", Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    font-size: 22px; 
    line-height: 1.6;
}

h1 {
    color: #f2f2f2;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    font-size: 45px;
    text-align: center;
}

h2 {
    color: #f2f2f2;
    border-top: 2px solid #444;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 30px;
}

form {
    margin-bottom: 40px;
    padding: 40px;
    background-color: #252525;
    border: 1px solid #444;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 28px;
}

#urlholder {
    display: flex;
    gap: 10px;
}

input[type="url"], input[type="submit"] {
    padding: 15px; 
    margin-top: 10px;
    font-size: 1em;
    border-radius: 8px;
    transition: background-color 0.3s;
    box-sizing: border-box;
    margin: 0;
}

input[type="url"] {
    width: 74%;
    background-color: #353535;
    color: #f0f0f0;
    border: 1px solid #444;
    text-align: center;
    
}

input[type="submit"] {
    width: 26%;
    cursor: pointer;
    background-color: #400101;
    color: #efefef;
    border: none;
}

input[type="submit"]:hover {
    background-color: #efefef;
    color: #111;
}

.short-link {
    clear: both;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    border-left: 5px solid #efefef;
}

.short-link strong {
    font-size: 1.1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    font-size: 0.9em;
}

th, td {
    border: 1px solid #444;
    padding: 15px; 
    text-align: left;
}

th {
    background-color: #2a2a2a;
    color: #efefef;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #222;
}

tr:hover {
    background-color: #333;
}

a {
    color: crimson;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

p a {
    font-size: 1.15em;
    font-weight: bold;
}

footer {
    color: #f0f0f0;
    background-color: #131313;
    max-width: 1000px;
    height: 150px;
    text-align: center;
    padding: 20px;
    margin-top: 40px;

}

footer a {
    color: #f0f0f0;
}

.icons {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content: center;
}

footer p {
    font-size: 20px;
    font-weight: 300;
}

.icons pre {
    font-size: 18px;
    margin: 0;
}

.icons i {
    font-size: 21px;
}
