<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>zadanir86 URL Kısaltıcı</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://kit.fontawesome.com/9335afc17e.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>URL Kısaltıcı</h1>

    <form method="POST">
        <label for="url">Kısaltılacak URL:</label><br>
        <div id="urlholder">
            <input type="url" id="url" name="url" placeholder="https://ornek.com/uzun-bir-adres" required><br>
            <input type="submit" value="Kısalt">
        </div>
    </form>

    {% if short_url %}
        <div class="short-link">
            Kısaltılmış URL: <strong><a href="{{ short_url }}">{{ short_url }}</a></strong>
        </div>
    {% endif %}

    <h2>Şimdiye kadar kısaltılan URL'ler</h2>
    
    <table>
        <thead>
            <tr>
                <th>Kısa Kod</th>
                <th>Orijinal URL</th>
                <th>Ziyaret Sayısı</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
            <tr>
                <td><a href="{{ url_for('redirect_to_url', short_code=url.short_code) }}">{{ url.short_code }}</a></td>
                <td>{{ url.original_url[:70] }}...</td>
                <td>{{ url.visits }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <p><a href="{{ url_for('stats') }}" target="_blank">Tüm İstatistikleri Gör</a></p>
</body>
<footer>
    <p>zadanir86</p>
    <div class="icons">
        <a href="https://www.linkedin.com/in/zadanir86" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/zadanir86" target="_blank"><i class="fa-brands fa-github"></i></a>
        <i class="fa-solid fa-envelope"></i>
        <pre>zadanir86@gmail.com</pre>
    </div>
</footer>
</html>
